<section class='container container-pad'>
  <h1 class='text-center'>
    Need help? Get in touch
  </h1>
  <div class='row text-center' style='font-size:1.4em;'>
    <div class='col-sm-6'>
      Email : michael_ak@hotmail.co.uk
    </div>
    <div class='col-sm-6'>
      Phone no: 07958432219
    </div>
  </div>
  <br>
  <div class='row text-center' style='font-size:1.4em;'>
    <div class='col-sm-6'>
      Instagram: <%= link_to 'ozi_michaels', 'https://www.instagram.com/ozi_michaels/' %>
    </div>
    <div class='col-sm-6'>
      Facebook: <%= link_to 'Ozi Akhazemea', 'https://www.facebook.com/people/Ozi-Akhazemea/100010341792561' %>
    </div>
  </div>
  <br>
  <div class='' style='max-width:600px;margin:0 auto;'>
    <h2 class='text-center'>
      Want to collaborate?
    </h2>
    <br>
    <p class='text-center'>
      If you want to work with me, don't feel shy. Send me a message or an email. I love programming and would love to help out if i can
    </p> 
    
  </div>
  <p class='text-center'>
    <%= image_tag('team-collaborate.jpg', class:'img-fluid') %>
  </p>
  
</section>