<footer class='footer'>
  <div class='container'>
    <div class='about'>
      <div class='about text-center' id='about'>
        <p>
          Not affiliated with Instagram and we don't host any of the Instagram Stories on this website, all rights belong to their respective owners.
        </p>
        <p>
          Copyright © 2019 ig stories Inc. All rights reserved.
        </p>
        <hr>

      </div>
      <nav class="navbar navbar-expand-lg w-100">
        <div class='container d-flex justify-content-center'>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Privacy Policy', privacy_policy_path, class:'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Cookies', cookies_policy_path, class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Disclaimer', disclaimer_path, class:'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
      <p class='text-center w-100 late-load'>
        © 2019 IG | Stories
      </p>
    </div>
  </div>
</footer>
