<section class='container'>
  <div class='row'>
    <div class='col-sm-6'>
      <%= image_tag('use_phone_2.jpeg', class:'img-fluid', style:'max-width:600px; width:100%;') %>
    </div>
    <div class='col-sm-6'>
      <h2 class='text-center'>
        How to download Instagram Stories?
      </h2>
      <p class='text-center p-3'>
        Simple way to download and save Instagram Stories and Stories Highlights photos and videos to your PC, Mac, Phone. 
      </p>
      <p>
        To Download Instagram Stories simply enter Instagram username and go.
      </p>
    </div>
  </div>
</section>